#footer {
  padding: 48px 0;
  color: var(--black600);
  font-size: 12px;
  background-color: var(--black900);

  .container {
    @media (max-width: 1080px) {
      padding: 25px 12px 0 12px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid var(--black600);

    .footer__nav {
      display: flex;
      flex-wrap: wrap;
      gap: 2px 8px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;

        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 12px;
          background-color: var(--black600);
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}
