#main {
  &.main__page {
    background-color: var(--black900);
  }

  .main__search {
    max-width: 700px;
    height: 60px;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid var(--green);
    box-sizing: border-box;

    &:focus,
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    }

    @media (max-width: 600px) {
      max-width: 85vw;
    }

    @media (max-width:600px) {
      border-radius: 5px;
    }

    .searchBar {
      > label {
        display: none;
      }
      > input {
        padding: 0 30px;
        color: var(--white);
        border-radius: 30px;
        background-color: var(--black900);

        &:focus,
        &:hover {
          background-color: var(--black900);
        }
        
        @media (max-width: 600px) {
          padding: 0 50px 0 15px;
          border-radius: 5px;
        }
      }

      // input 자동완성 색상변경 초기화
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px var(--black900) inset;
        -webkit-text-fill-color: #fff;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }

      > button {
        @media (max-width: 600px) {
          width: 60px;
          background-size: 24px;
        }
      }
    }
  }

  .box__wrap {
    width: 100%;
    margin-top: 35px;
    display: flex;

    @media (max-width: 1080px) {
      display: block;
    }

    .box {
      min-height: 400px;
      padding-bottom: 0.8rem;
      background-color: var(--white);
      border-radius: 5px;
      box-sizing: border-box;

      @media (max-width: 1080px) {
        border-radius: 0;
      }

      &.left {
        margin-right: 5px;
        flex-basis: 536px;
        overflow: hidden;

        @media (max-width: 1080px) {
          margin: 0 0 0.75rem;
        }

        .list {
          li {
            &:last-child > a {
              border: 0;
            }

            a {
              padding: 15px 0;
              margin: 0 12px;
              display: flex;
              align-items: center;
              box-sizing: border-box;
              border-bottom: 1px solid var(--black200);
              transition: all 0.15s;

              &:hover {
                background-color: var(--black100);
              }

              .number {
                font-size: 1.2rem;
                font-weight: 500;
                text-align: center;
                flex-basis: 55px;
              }

              .text {
                flex: 1 1 0%;
                padding: 0 20px;
                box-sizing: border-box;
                overflow: hidden;

                h3 {
                  font-size: 0.9rem;
                }

                ul {
                  display: flex;
                  li {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0.7rem;
                    color: var(--black400);

                    & + li {
                      margin-left: 0.7rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .input__wrap {
          padding: 0 15px;
          display: flex;
          gap: 8px;

          > div {
            &.sell__wrap {
              flex-basis: 80%;

              @media (max-width: 600px) {
                flex-basis: 70%;
              }
            }

            > label {
              padding: 6px 0;
              display: block;
              font-size: 0.8rem;
              font-weight: bold;
            }

            > div {
              width: 100%;
              position: relative;

              &.sell__input {
                &::after {
                  content: 'BP';
                }
              }

              &.discount__input {
                flex: 1 1 0%;
                &::after {
                  content: '%';
                }
              }

              &::after {
                font-size: 0.875rem;
                color: var(--black);
                position: absolute;
                top: 50%;
                right: 0.875rem;
                transform: translateY(-50%);
                z-index: 99;
              }

              > input {
                width: 100%;
                min-height: 2.5rem;
                padding: 6px 2rem 6px 6px;
                font-size: 0.875rem;
                background-color: var(--black200);
                border: 1px solid var(--black200);
                border-radius: 3px;

                &::placeholder {
                  color: var(--black600);
                  opacity: 0.5;
                }
              }
            }
          }
        }

        .selectBox__wrap {
          padding: 15px 0 7px;
          margin: 0 15px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          .selectBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.8rem;
            font-weight: bold;
            color: var(--green600);
          }
        }

        .result {
          margin: 0 15px;
          padding: 7px 0 15px;
          font-size: 0.8rem;
          color: var(--black400);

          > ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            > li {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &:nth-child(3) {
                padding-bottom: 4px;
                border-bottom: 1px solid var(--black200);
              }

              > span {
                > strong {
                  font-weight: bold;
                  color: var(--green600);
                }
              }
            }
          }
        }

        .total {
          padding: 15px 0;
          margin: 0 15px;

          .total__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }

      > h2 {
        padding: 15px 0 15px 20px;
        font-size: 0.8rem;
        font-weight: bold;
        color: var(--black);
      }
    }
  }
}
