.notice__list {
  width: 100%;
  min-height: calc(100vh - 243px);
  padding: 24px;
  margin: 0 auto;
  padding-bottom: 0.8rem;
  background-color: var(--white);
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;

  @media (max-width: 600px) {
    padding: 10px 0;
    border-radius: 0;
  }

  .notice__top {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid var(--black600);

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 8px;
    }

    > h2 {
      font-size: 1rem;
      font-weight: 700;
    }

    .search__wrap {
      display: flex;

      @media (max-width: 600px) {
        width: 90%;
      }

      .search__form {
        position: relative;
        height: 40px;
        flex: 1 1 0%;

        > label {
          position: absolute;
          top: 50%;
          left: 6px;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          background-image: url(/images/svg/search2.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 20px;
          font-size: 0;
          z-index: 99;
        }

        > input {
          width: 100%;
          height: 100%;
          padding: 0 12px 0 40px;
          background-color: var(--black200);
          border-radius: 5px;

          &:focus {
            outline: none;
          }
        }
      }

      .green-btn {
        padding: 0 20px;
        margin-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .notice__layout {
    .list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      > li {
        width: 100%;
        padding: 8px 16px 8px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid var(--black200);
        overflow: hidden;
        transition: all 0.15s;

        .number {
          font-size: 1.2rem;
          font-weight: 500;
          text-align: center;
          flex-basis: 55px;

          @media (max-width: 600px) {
            flex-basis: 36px;
          }
        }

        .text {
          flex: 1 1 0%;
          box-sizing: border-box;
          overflow: hidden;

          > a {
            h3 {
              font-size: 0.8rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .info {
            display: flex;
            align-items: center;
            gap: 2px 8px;
            margin-top: 4px;

            > li {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;

              &::after {
                content: '';
                display: block;
                width: 1px;
                height: 12px;
                background-color: var(--black250);
              }

              &:last-child:after {
                display: none;
              }

              > span,
              > div > span {
                display: inline-block;
                vertical-align: middle;
                font-size: 0.8rem;
                color: var(--black400);
              }

              .creator {
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                  width: 0.8rem;
                  height: 0.8rem;
                  margin-right: 4px;
                  display: inline-block;
                  vertical-align: middle;
                  border-radius: 50%;
                }
              }
            }
          }
        }

        &:hover {
          background-color: var(--black100);
        }

        &.tit {
          border-color: var(--black600);
          transition: all 0.15s;

          &:hover {
            background-color: transparent;
          }

          .number {
            font-size: 0.8rem;
            font-weight: normal;
          }

          h3 {
            font-size: 0.8rem;
            font-weight: normal;
            text-align: center;
          }
        }
      }
    }
  }
}

.list__pagenation {
  width: 100%;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: var(--white);
  border-radius: 0 0 5px 5px;

  @media (max-width: 600px) {
    border-radius: 0;
  }

  > ul {
    display: flex;
    align-items: center;
    justify-content: center;

    > li {
      border: 1px solid var(--black200);
      padding: 5px 10px;
      margin: 0 5px;
      font-size: 1rem;
      color: var(--black400);
      cursor: pointer;
      transition: all 0.15s;

      &:hover {
        background-color: var(--black200);
      }

      &.active {
        color: var(--white);
        background-color: var(--green400);
      }
    }
  }
}

.notice__view {
  width: 100%;
  min-height: calc(100vh - 243px);
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;

  .view__top {
    width: 100%;
    padding: 24px;
    font-size: 1.1rem;
    color: var(--black);
    word-break: keep-all;
    background-color: var(--white);
    border-bottom: 1px solid var(--black200);

    @media (max-width: 600px) {
      padding: 12px;
      font-size: 0.85rem;
    }

    .view__info {
      display: flex;
      align-items: center;
      gap: 2px 8px;
      font-size: 0.85rem;
      color: var(--black400);

      @media (max-width: 600px) {
        font-size: 0.75rem;
      }

      > li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &::after {
          content: '';
          display: block;
          width: 1px;
          height: 12px;
          background-color: var(--black250);
        }

        &:last-child:after {
          display: none;
        }

        .creator {
          display: flex;
          align-items: center;
          justify-content: center;

          > img {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 4px;
          }
        }
      }
    }
  }

  .view__content {
    min-height: calc(100vh - 430px);
    background-color: var(--white);
    border-bottom: 1px solid var(--black200);
    padding: 24px;
    
    @media (max-width: 600px) {
      padding: 12px;
    }

    > pre {
      font-family: var(--font-noto);
      font-size: 1rem;
      color: var(--black);
      overflow: auto;
      white-space: pre-wrap;

      @media (max-width: 600px) {
        font-size: 0.75rem;
      }
    }
  }

  .view__btn {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--white);

    @media (max-width: 600px) {
      padding: 12px;
    }

    .btn__wrap {
      display: flex;
      align-items: center;
      gap: 2px 8px;
    }
  }
}

.write__form {
  max-width: 800px;
  min-height: calc(100vh - 243px);
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;

  .view__content {
    > label {
      display: block;
      padding: 24px;
      background-color: var(--white);
      border-bottom: 1px solid var(--black200);

      &.form__top {
        > input {
          width: 100%;
          padding: 24px;
          font-size: 1.1rem;
          color: var(--black);
          word-break: keep-all;
          background-color: var(--black100);
        }
      }

      &.form__desc {
        > textarea {
          width: 100%;
          padding: 24px;
          min-height: calc(100vh - 430px);
          background-color: var(--black100);
          resize: none;
        }
      }
    }

    .form__btn {
      width: 100%;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: var(--white);

      .btn__wrap {
        display: flex;
        align-items: center;
        gap: 2px 8px;
      }
    }
  }
}
