.slider__main {
  width: 100%;
  height: 225px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  .mySwiper {
    width: 100%;
    height: 100%;
  }

  .slider__wrap {
    width: 100%;
    height: 100%;
    position: relative;

    h3 {
      font-family: var(--font-nxf);
      font-size: 3rem;
      text-align: right;
      line-height: 0.9;
      color: var(--white);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      word-break: keep-all;

      span {
        display: block;
        font-size: 1.5rem;
        color: var(--green);
        line-height: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .black__screen {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
